/*
================================================================================
BP Group Sites Stylesheet
================================================================================
AUTHOR: Christian Wach <needle@haystack.co.uk>
--------------------------------------------------------------------------------
NOTES
=====

Provide basic styles for plugin elements

--------------------------------------------------------------------------------
*/



/*
--------------------------------------------------------------------------------
Default styles for filtering comments
--------------------------------------------------------------------------------
*/
#bpgsites-post-in-box
{
	display: block;
}

div.bpgsites_group_filter
{
}

div.bpgsites_group_filter form
{
	padding: 2%;
}

.bpgsites_comment_group_label
{
	cursor: pointer;
}

.bpgsites_comment_group
{
	display: block;
}



/*
--------------------------------------------------------------------------------
Default styles for filtering group linkages
--------------------------------------------------------------------------------
*/
.bpgsites_group_linkage
{
	clear: both;
}

.bpgsites_group_linkages
{
	border: 1px solid #eee;
	padding: 1em;
}

.bpgsites_linked_group
{
	display: block;
}

.bpgsites_linked_group_label
{
	display: inline-block;
	cursor: pointer;
	margin: 0;
}



